useDynLib(fdaPDE)
	
	import(Matrix)
	import(rgl)
	importFrom("grDevices", "heat.colors")
	importFrom("graphics", "plot", "segments")
	importFrom("stats", "lm.fit")
	export(create.MESH.2D,refine.MESH.2D,create.MESH.2.5D,second.order.MESH.2.5D)
	export(create.FEM.basis, smooth.FEM.basis, smooth.FEM.PDE.basis, smooth.FEM.PDE.sv.basis, FEM, eval.FEM)
	export(plot.MESH2D,plot.FEM, plot.MESH.2.5D)
	export(R_elementProperties, R_mass, R_stiff, R_smooth.FEM.basis, R_eval.FEM.basis, R_eval.FEM)
	export(CPP_smooth.FEM.basis, CPP_smooth.FEM.PDE.basis, CPP_smooth.FEM.PDE.sv.basis, CPP_eval.FEM, CPP_get_evaluations_points, CPP_get.FEM.Mass.Matrix, CPP_get.FEM.Stiff.Matrix, CPP_get.FEM.PDE.Matrix, CPP_get.FEM.PDE.sv.Matrix, CPP_smooth.manifold.FEM.basis, CPP_eval.manifold.FEM)
	S3method(plot,FEM)
	S3method(plot,MESH2D)
	S3method(image,FEM)
